*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
  padding: 3rem;
}

.fieldset {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.fieldset legend {
  padding: 1rem;
}

.fieldset-row {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  width: 42.5%;
}

.input-form {
  margin: 1rem;
  padding: 1rem;
  width: 40%;
  border: 1px solid black;
  border-radius: 0.5rem;
  text-align: center;
}

textarea.input-form {
  text-align: left;
}
